In [ ]:
import pandas as pd
df = pd.read_csv('item.csv')

FileNotFoundError: ignored

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('item.csv')
df.head()

   id    item  quantity  price  bought  forenoon  afternoon
0   1    milk       2.0   67.0   672.0     456.0        NaN
1   2   sugar       1.0    NaN   453.0     234.0        NaN
2   3   chips       NaN   45.0   456.0     322.0        NaN
3   4  coffee       2.0   45.0   672.0     564.0        NaN
4   5    meat       4.0   56.0   786.0     221.0        NaN

In [ ]:
df.isnull()

      id   item  quantity  price  bought  forenoon  afternoon
0  False  False     False  False   False     False       True
1  False  False     False   True   False     False       True
2  False  False      True  False   False     False       True
3  False  False     False  False   False     False       True
4  False  False     False  False   False     False       True
5  False  False     False   True   False      True      False
6  False  False     False  False   False      True      False
7  False  False      True  False   False      True      False
8  False  False     False   True    True      True      False
9  False  False     False   True    True      True      False

In [ ]:
df.shape

(10, 7)

In [ ]:
df.isnull().sum()

id           0
item         0
quantity     2
price        4
bought       2
forenoon     5
afternoon    5
dtype: int64

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy

   id    item  quantity  price  bought  forenoon  afternoon
0   1    milk       2.0   67.0   672.0     456.0        NaN
1   2   sugar       1.0    NaN   453.0     234.0        NaN
2   3   chips       NaN   45.0   456.0     322.0        NaN
3   4  coffee       2.0   45.0   672.0     564.0        NaN
4   5    meat       4.0   56.0   786.0     221.0        NaN
5   6  chocos       3.0    NaN   345.0       NaN      213.0
6   7   juice       1.0   78.0   765.0       NaN      344.0
7   8     jam       NaN   65.0   665.0       NaN      333.0
8   9   bread       3.0    NaN     NaN       NaN      567.0
9  10  butter       4.0    NaN     NaN       NaN      322.0

In [ ]:
df_copy.dropna()

Empty DataFrame
Columns: [id, item, quantity, price, bought, forenoon, afternoon]
Index: []

In [ ]:
#mean, median, mode, std, 

mean = df['afternoon'].mean()
mean

355.8

In [ ]:
df['afternoon'] = df['afternoon'].fillna(mean)

In [ ]:
df

   id    item  quantity  price  bought  forenoon  afternoon
0   1    milk       2.0   67.0   672.0     456.0      355.8
1   2   sugar       1.0    NaN   453.0     234.0      355.8
2   3   chips       NaN   45.0   456.0     322.0      355.8
3   4  coffee       2.0   45.0   672.0     564.0      355.8
4   5    meat       4.0   56.0   786.0     221.0      355.8
5   6  chocos       3.0    NaN   345.0       NaN      213.0
6   7   juice       1.0   78.0   765.0       NaN      344.0
7   8     jam       NaN   65.0   665.0       NaN      333.0
8   9   bread       3.0    NaN     NaN       NaN      567.0
9  10  butter       4.0    NaN     NaN       NaN      322.0